Checks: >
  -*,
  clang-analyzer-core.CallAndMessage,
  clang-analyzer-core.uninitialized.UndefReturn,
  clang-analyzer-deadcode.*
HeaderFilterRegex: '.*'
# Use .clang-format for formatting changes
FormatStyle: file
