on:
  push:

name: Pythonic Issue

jobs:
  static-analysis:
    name: ${{ matrix.name }}
    if: (github.repository == 'cvc5/cvc5') || (github.event_name != 'schedule')
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: win64:production-arm64
            os: windows-11-arm
            config: debug --asan --auto-download --python-bindings
            strip-bin: strip
            shell: 'msys2 {0}'

    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      uses: ./.github/actions/install-dependencies
      with:
        windows-build: true
        shell: ${{ matrix.shell }}

    - name: Configure and build
      id: configure-and-build
      uses: ./.github/actions/configure-and-build
      with:
        configure-config: ${{ matrix.config }}
        build-static: false
        strip-bin: ${{ matrix.strip-bin }}
        shell: ${{ matrix.shell }}

    - name: Run failing test
      shell: ${{ matrix.shell }}
      run: |
        BUILD_DIR="${{ steps.configure-and-build.outputs.shared-build-dir }}"
        cd $BUILD_DIR
        make -j${{ env.num_proc }} install
        PYTHON_MODULE_PATH="$(dirname $(dirname $(find $BUILD_DIR/install -name 'cvc5_python_base*')))"
        export PYTHONPATH="$PYTHONPATH;$(cygpath -w $PYTHON_MODULE_PATH)"
        echo Test1
        python3 examples/api/python/pythonic/bitvectors_and_arrays.py
        echo Test2
        python3 examples/api/python/pythonic/bitvectors_and_arrays.py
        echo Test3
        python3 examples/api/python/pythonic/bitvectors_and_arrays.py
        echo Test4
        python3 examples/api/python/pythonic/bitvectors_and_arrays.py
        echo Test5
        python3 examples/api/python/pythonic/bitvectors_and_arrays.py
